{% extends './base.html' %}

{% block titulo %} - Cancelado {% endblock titulo %}

{% block contenido %}
<main>
    <div class="container3">
        <div class="separador"></div>
        <h1> "La compra ha sido cancelada" </h1>
        <div class="separador"></div>
        <p>El pago no fue realizado</p>
        <a class="contact" href="mailto:rpdesign@rpdesign.com.ar"> rpdesign@rpdesign.com.ar </a>
        <div class="separador"></div>
        <p class="main"></p>
    </div>
</main>
{% endblock contenido %}