

        <footer>
            <div class="footer">
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square fa-lg"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram-square fa-lg"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in fa-lg"></i>
                </a>
                <p class="footer">&copy;&nbsp;2022 RPdesign & Gabriel Cisilino</p>
            </div>
        </footer>
        
